.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0 5px;
        cursor: pointer;

        .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #e0e0e0;
            text-align: center;
            line-height: 30px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #bdbdbd;
            }

            &.active {
                background-color: #0c4bc8;
                color: white;
                scale: (1.5);
            }

            @media(min-width: 768px) {
                width: 12px;
                height: 12px;
            }
        }
    }
}