.newJournalPage {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;


    .formGroup {
        textarea {
            min-height: 300px;
            max-height: 500px;
        }

        small {
            color: rgba(255, 255, 255, 0.33);
        }
    }
}