.newJournalPage {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .quoteContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    margin-bottom: 32px;

    .quoteWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    button {
      flex: 1;
      width: 164px;
      max-width: 200px;
      padding: 2px;
      font-size: 0.75rem;
    }

    blockquote {
      width: 100%;
      max-width: 264px;
      margin: 32px auto 0;
      color: rgb(176, 176, 176);

      animation: fadeIn 1.5s ease-in-out 1;
      animation-fill-mode: both;
      will-change: opacity, transform;

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(8px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @media (min-width: 375px) {
        max-width: 320px;
      }

      @media (min-width: 425px) {
        max-width: 360px;
      }

      @media (min-width: 768px) {
        max-width: 624px;
      }

      @media (min-width: 1024px) {
        max-width: 824px;
      }
    }

    .authorWork {
      display: flex;
      gap: 4px;

      animation: fadeIn 1.5s ease-in-out 1;
      animation-fill-mode: both;
      will-change: opacity, transform;

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(8px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @media (min-width: 768px) {
        flex-direction: row !important;
      }
    }
  }

  .formGroup {
    textarea {
      min-height: 300px;
      max-height: 500px;
    }

    small {
      color: rgba(255, 255, 255, 0.33);
    }
  }
}
